.portfolio{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    &__image{
        background-position: center;
        background-size: cover;
        height: 40vh;
        margin-bottom: 30px;
    }
    &__item-container{
        position: relative;
        height: 100%;
        width: 100%;
        transition-duration: .6s;
        transition-timing-function: ease-in-out;
    }
    &__selected-indicator{
        
        height: 8px;
        width: 8px;
        border-radius: 5px;
        margin: 0 5px;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        cursor: pointer;
    }
    &__selected-indicator-container{
        position: fixed;
        bottom: 2.5em;
        right: 3.5em;
        z-index: 4;
        display: flex;
        
    }
    .selected{
        background: #bf00ff;
    }
    .unselected{
        background: #ffffff33;
    }
    article{
        position: absolute;
        top: 5em;
        left: 20px;
        width: calc(100% - 40px);
        margin-bottom: 10em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title{
                text-transform: uppercase;
            }
            .description{
                text-align: justify;
                white-space: pre-line;
                width: 100%;
            }
            .tech{
                margin-bottom: 50px;
                span{
                    background: #ffffff55;
                    text-transform: uppercase;
                    font-size: .7em;
                    padding: .5em;
                    border-radius: .2em;
                    margin: 0 .2em;
                }
            }
        }
    }
}

@media screen and (min-width: 700px){
    .portfolio{
        height: 100vh;
        overflow: hidden;
        &__image{
            height: 100%;
            margin-bottom: 0;
        }
        article{
            flex-direction: row;
            align-items: initial;
            height: calc(100% - 8.5em);
            left: 3.5em;
            width: calc(100% - 7em);
            div{
                width: 50%;
                height: 100%;
                padding: 0 3em;
                .tech{
                    margin-bottom: 0;
                }
                .description{
                    text-align: left;
                }
            }
        }
    }
}