@media screen and (max-width: 768px){
    .portfolio{
        height: auto;
        overflow: scroll;
        .content{
            margin-top: 20px;
        }
        article{
            height: 200px;
            width: 300px;
            margin-top: 50vh;
            &:first-child{
                margin-top: 0;
            }
        }
        .background{
            p{
                width: 300px;
            }
        }
    }
}

@media screen and (min-width: 769px){
    .portfolio{
        height: 100vh;
        overflow: hidden;
        .content{
            margin-top: 130px;
        }
        article{
            height: 80vh;
            width: 30vw;
            margin-top: -100px;
        }
        .background{
            p{
                width: 400px;
            }
        }
    }
}

.portfolio{
    .content{
        display: flex;
        flex-direction: column;
    }
    article{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        &:nth-child(2n){
            align-self: flex-end;
            background: red;
        }
        img{
            height: 100%;
        }
    }
    .background{
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            text-align: center;
            text-transform: uppercase;
        }
    }
    .title{
        margin: 0;
        font-size: 3em;
    }
    .description{
        margin: 0;
        font-size: 1em;
    }
    .tech{
        margin-top: 1em;
        font-size: .8em;
    }
}