.about{
    position: relative;
    h1{
        margin-top: .2em;
        font-family: "Kumbh Bold";
        text-transform: uppercase;
        font-weight: bold;
        font-size: 8em;
        height: calc(100% - 8.5em);
    }
    img{
        width: 200px;
    }
}