.about{
    a{
        text-decoration: none;
        color: white;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        &:hover{
            color: #bf00ff;
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        img{
            width: 90%;
            max-width: 900px;
            margin-bottom: 50px;
        }
        p{
            font-size: 18px;
            text-align: justify;
            b{
                color: #bf00ff;
            }
        }
    }
}

@media screen and (min-width: 600px){
    .about{
        &__description{
            padding: 0 90px;
        }
    }
}