nav{
    padding: 40px;
    position: fixed;
    z-index: 50;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu{
        background: black;
        color: #fff;
        height: 100vh;
        width: 100vw;
        position: fixed;
        left: 0;
        top: 0;
        transition-duration: .6s;
        transition-timing-function: ease-in-out;
        &--opened{
            transform: translateY(0);
        }
        &--closed{
            transform: translateY(-100vh);
        }
    }
    .menu{
        display: flex;
        padding: 3.5em;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        align-content: flex-start;
        div{
            display: flex;
        }
        &--open{
            ul{
                li{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
        &--closed{
            ul{
                li{
                    transform: translateY(100%);
                    opacity: 0;
                }
            }
        }
        a{
            position: relative;
            text-decoration: none;
            color: rgba(255, 255, 255, .95);
            &:after{
                content: '';
                position: absolute;
                left: 0;
                top: calc(50% - 10px);
                height: 6px;
                width: 100%;
                background: rgba(255, 255, 255, .95);
                transform-origin: left;
                transform: scaleX(0);
                transition-duration: .3s;
                transition-timing-function: ease-out;
            }
            &:hover:after{
                transform: scaleX(1);
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            margin-right: 1em;
            font-family: "Kumbh Bold";
            font-weight: bold;
            letter-spacing: 1.5px;
            li:nth-child(1){
                transition-delay: .5s;
            }
            li:nth-child(2){
                transition-delay: .6s;
            }
            li:nth-child(3){
                transition-delay: .7s;
            }
            li:nth-child(4){
                transition-delay: .8s;
            }
            li{ 
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                transition-duration: .3s;
                transition-timing-function: ease-in-out;
                
            }
            &:first-child{
                text-align: right;
                padding-top: 1em;
                margin-right: 4em;
            }
            &:not(:first-child){
                font-weight: bold;
                font-size: 4.5em;
            }
        }
    }
    .nav__right{
        display: flex;
        span{
            margin-right: 10px;
            .lang-button{
                text-transform: uppercase; 
                background: none;
                color: white;
                border: none;
                cursor: pointer;
                outline: none;
            }
        }
    }
    h1{
        padding-top: 3px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: "Kumbh Bold";
        span{
            font-family: "Kumbh";
            font-weight: normal;
        }
    }
    .hamburger{
        position: relative;
        z-index: 4;
        height: 14px;
        width: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        div{
            background: white;
            height: 2px;
            width: 100%;
            transition-duration: .2s;
            transition-timing-function: ease-out;
        }
        &:hover div:nth-child(2){
            width: 30%;
        }
        &--active{
            div{
                background: white;
            }
            &:hover div:first-child{
                width: 30%;
            }
            &:hover div:nth-child(2){
                width: 100%;
            }
        }
    }

}

@media screen and (min-width: 0px){
    .lang-button, nav h1{
        font-size: 8px;
    }
}

@media screen and (min-width: 368px){
    nav h1, .lang-button{
        font-size: 10px;
    }
    h1{
        padding-top: 5px;
    }
}

@media screen and (min-width: 500px){
    nav h1, .lang-button{
        font-size: 13px;
    }
    h1{
        padding-top: 5px;
    }
}

@media screen and (min-width: 900px){
    nav h1, .lang-button{
        font-size: 16px;
    }
    h1{
        padding-top: 5px;
    }
}
