#contact{
    .error, .success{
        display: block;
        font-size: 18px;
        margin-top: 20px;
    }
    .error{
        color: crimson;
    }
    .success{
        color: yellowgreen;
    }
    font-family: "Kumbh";
    h1{
        margin: 20px 0;
    } 
    p{
        display: inline;
    }
    input{
        background: none;
        border: none;
        color: grey;
        border-bottom: 3px solid cyan;
        margin: 0 5px;
    }
    [type="phone"]{
        width: 6em;
    }
    button{
        font-family: "Kumbh";
        margin-top: 20px;
        display: block;
        background: transparent;
        padding: 0;
        border: none;
        color: black;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        font-size: 18px;
        &:after, &:before{
            content: attr(data-content);
            position: absolute;
            left: 0;
            color: white;
            transition-duration: .3s;
            transition-timing-function: ease-in-out;
        }
        &:after{
            top: 0;
        }
        &:before{
            top: 100%;
            font-weight: bold;
        }
        &:hover{
            &:after, &:before{
                transform: translateY(-100%);
            }
        }
    }
}

@media screen and (min-width: 0px){
    #contact p, #contact input, .selector{
        font-size: 20px;
    }
    h1{
        font-size: 40px;
    }
}

@media screen and (min-width: 575px){
    #contact p, #contact input, .selector{
        font-size: 30px;
    }
    h1{
        font-size: 50px;
    }
}

@media screen and (min-width: 979px){
    #contact p, #contact input, .selector{
        font-size: 40px;
    }
    h1{
        font-size: 60px;
    }
}