#contact{
    h1{
        margin: 20px 0;
    } 
    p{
        display: inline;
    }
    input{
        background: none;
        border: none;
        color: grey;
        border-bottom: 3px solid cyan;
    }
    [type="phone"]{
        width: 6em;
    }
}

@media screen and (min-width: 0px){
    #contact p, #contact input, .selector{
        font-size: 20px;
    }
    h1{
        font-size: 40px;
    }
}

@media screen and (min-width: 575px){
    #contact p, #contact input, .selector{
        font-size: 30px;
    }
    h1{
        font-size: 50px;
    }
}

@media screen and (min-width: 979px){
    #contact p, #contact input, .selector{
        font-size: 40px;
    }
    h1{
        font-size: 60px;
    }
}